/* Acá va tu código */
div {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: black;
    margin: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    
}

#buttonLink {
    color: black;
    background-color: seagreen;
    font-size: 30px;
    border: 5px solid white;
}

body {
    background: url(secretbank.jpg)
}

#numberOffset {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid seagreen;
}

#inputText {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 8px solid seagreen;
}

/*#boxAnswerText {
    background-color: green;
    background-size: 25px 50px;

} */

#buttonCipher {
    text-align: center;
    background-color: seagreen;
    font-size: 25px;
    border: 4px solid white;
}

#buttonDecipher {
    text-align: center;
    background-color: seagreen;
    font-size: 25px;
    border: 4px solid white;
}

#buttonGetBack {
    background-color: seagreen;
    font-size: 25px;
    border: 4px solid white;
}
